*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
table, th, td {
    border:1px solid black;
    height: 66px;
    width: 59%;
  }

table{

  }
.banner{
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    color: black;
    /* animation: doimau 0.3s linear infinite; */
}
/* @keyframes doimau {
    from{
        color: black;
    }
    to{
        color: red;
    }
} */
img{
    height: 100%;
}
.oclock{
    background-color: #000000;
}